* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #322d29;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #a37c27;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  height: 60px;
  margin-left: 64px;
}
.nav-logo img {
  width: 125px;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 120px;
}

.nav-menu li a {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-menu li a:hover {
  color: #322d29;
}
.nav-menu li a:active {
  color: #322d29;
  font-weight: bold;
}

/* Icon Menu Styles */
.nav-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger .fa-bars,
.hamburger .fa-times {
  transition: transform 0.3s ease;
}

/* Hero Section */
.hero {
  height: 100vh;
  background-color: 00000;
  background-image: url("./img/hero-img.png"); /* Replace with your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  position: relative;
  color: #fff;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Overlay for better text visibility */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1rem;
  max-width: 600px; /* Tentukan lebar maksimal */
  margin: 0 auto; /* Center-kan paragraf secara horizontal */
  line-height: 1.5;
  margin-bottom: 20px;
}

.button {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #a37c27;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.tentang-kami {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #a37c27;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
}

.content {
  flex: 1 1 50%;
  padding: 20px 30px;
}

section.tentang-kami .content h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #ffff;
  text-decoration: underline;
}

section.tentang-kami .content p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 500px;
}

.image-container {
  flex: 1 1 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 70%;
}

.main-image {
  width: 100%;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}

.background-image {
  width: 100%;
  filter: blur(10px) brightness(0.6);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border-radius: 10px;
}


.menu-section {
  background-color: #3e2e00;
  padding: 50px 20px;
  text-align: center;
}

.menu-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.menu-item {
  background-color: #a37c27;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 6px rgba(249, 247, 247, 0.1);
}

.menu-item:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.menu-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.menu-item h3 {
  font-size: 1.2rem;
  color: yellow;
  margin-bottom: 5px;
}

.menu-item h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 0.9rem;
  line-height: 1.5;
}
h2.lokasi-title {
  color: white;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
}
.lokasi-container{
  height: 662px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3e2e00;
 
}
.lokasi-left{
  
  padding: 3rem;
  color: white;
  align-content: center;
}
.lokasi-right{
  padding: 0 3rem;
  align-content: center;
}
.lokasi-right img{
  width: 100%;
}

.lokasi-left h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.lokasi-left p{
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}

.lokasi-left .icon-desc p{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.lokasi-left .icon-desc p i{
  font-size: 1.5rem;
}

.lokasi-left .opening-hours h5{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

.lokasi-left .opening-hours h5 span{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}
.lokasi-left .opening-hours .jam-buka h5{
  display: flex;
  gap: 4rem;
}

.lokasi-right a{
 cursor: pointer;
}

footer{
  color: #fff;
  font-size: 1rem;
  display: flex;
justify-content: center;
background-color: #a37c27;
padding:20px 10px;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .nav-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    background-color: #a37c27;
    position: absolute;
    top: 80px;
    left: 200px;
    width: 250px;
    padding: 10px 20px;
  }
  .nav-menu.active {
    display: flex; /* Show menu when active */
  }

  .nav-icon {
    display: block; /* Show hamburger menu */
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-logo {
    margin-left: 0;
  }
  .hero {
    background-size: cover; /* Tetap menutupi seluruh elemen */
    background-position: center center; /* Pastikan gambar tetap terfokus di tengah */
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero-content {
    justify-content: center;
    align-items: center;
  }
  .hero p {
    font-size: 0.8rem;
    max-width: 350px;
  }

  .button {
    margin: 0 auto;
    font-size: 0.8rem;
  }
  .tentang-kami {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 20px;
  }

  .content,
  .image-container {
    flex: 1 1 100%;
  }

  .content {
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
  }
  section.tentang-kami .content p {
    font-size: 12px;
    line-height: 1.4;
  }
  .menu-title {
    font-size: 1.5rem;
  }

  .menu-item {
    padding: 30px;
  }

  .menu-item h3 {
    font-size: 1rem;
  }

  .menu-item p {
    font-size: 0.8rem;
  }

  .menu-item img {
    width: 100px;
    height: 100px;
  }

  h2.lokasi-title {
    color: white;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
  }

  .lokasi-container{
    height: 750px;
    display: flex;
    flex-direction: column-reverse;
    padding:10px;
    background-color: #3e2e00;
   
  }
  .lokasi-left{
    padding: 1rem;
    color: white;
    justify-content: center;
  }
  .lokasi-right{
    padding: 0 1rem;
    justify-content: center;
  }
  .lokasi-right img{
    width: 100%;
  }

  footer{
    color: #ffffff;
    padding: 15px 5px;
    font-size:0.5rem;
  }
}
